NEXT_PUBLIC_CONTRACT_ADDRESS=0x65479a6491061d1c0D7200292Da83f4D48Fc12f7
NEXT_PUBLIC_CHAIN_ID=50312
NEXT_PUBLIC_ALCHEMY_RPC_URL=
NEXT_PUBLIC_GUARDIAN_ADDRESS=0x
NEXT_PUBLIC_TRUSTED_RECIPIENT=0x
RUNTIME_PATH=../runtime
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
ANTHROPIC_API_KEY=
